body {
    max-width: auto;
    max-height: auto;
}

#header {
    background-color: #ff1654;
    padding: 2em;
}

#skills {
    background-color: #f3ffbd;
    padding-bottom: 2em;
}

#humanSkills {
    padding: 2em;
}

#training {
    background-color: #247ba0;
    /*margin-bottom: -1em;*/
    font-family: 'Didact Gothic', sans-serif;
}

#links {
    background-color: #f3ffbd;
    padding: 2em;
}

h1, h2, h3 {
    font-family: 'Parisienne', cursive;
}
p {
    font-family: 'Didact Gothic', sans-serif;
}

#icons {
    display: flex;
}

#titleSkills {
    padding-top: 2em;
}

.trainee {
    word-break: break-all;
}