#header {
    background-color: #ff1654;
    padding: 2em;
}

.badge {
    background-color: #70c1b3;
}

#skills {
    background-color: #f3ffbd;
    padding-bottom: 2em;
}

#humanSkills {
    padding: 2em;
}

#training {
    /* background-color: #247ba0;*/
    margin-bottom: -1em;
    font-family: 'Didact Gothic', sans-serif;
}

#links {
    background-color: #f3ffbd;
    padding: 2em;
}

h1, h2, h3 {
    font-family: 'Parisienne', cursive;
}
p {
    font-family: 'Didact Gothic', sans-serif;
}

#icons {
    display: flex;
}

#titleSkills {
    padding-top: 2em;
}

.trainee {
    word-break: break-all;
}

#dropdownMenuButton {
    max-height: 3em;
    text-align: start;
}

.dropdown-menu {
    word-wrap:break-word;
}

#background-img {
    background-image: url("../img/back-end-script-programming-interface-512.png");
    background-repeat: no-repeat;
    height: 504px;
    
}