body {
    max-width: auto;
    max-height: auto;
    font-family: 'Didact Gothic', sans-serif;
}

#header {
    background-color: #ff1654;
    padding: 2em;
}

#skills {
    background-color: #f3ffbd;
    padding-bottom: 2em;
}

#humanSkills {
    padding: 2em;
}

#training {
    background-color: #247ba0;
}

#links {
    background-color: #f3ffbd;
    padding: 2em;
}

.badgeLinks {
    background-color:  #ff1654;
}

#icons {
    display: flex;
}

.trainee {
    word-break: break-all;
}